body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#header {
    background-color: #304250 !important;
}

#wrapper {
    display: grid;
    grid-template-columns: 15% auto;
    height: 100%;
    color: white;
    background-color: #1C2A32 !important;
}

#sidebar {
    padding: 10px;
    color: grey;
    background-color: #1C2A32 !important;
    border-right: 1px solid #304250 !important;
}

#sidebar ul li i {
    size: 0.9em;
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

#sidebar ul li:hover a {
    color: #EF8C4D;
    text-decoration: none;
}

#navbarSupportedContent li {
    padding-right: 10px;
}

.feather {
    color: white;
    stroke-width: 1;
    width: 18px !important;
    height: 18px !important;
}

.btn-link svg {
    color: white !important;
    text-decoration: none !important;
    transition: 0.5s;
    width: 24px !important;
    height: 24px !important;
}

.btn-link:hover svg{
    color: #EF8C4D !important;
}

svg.feather.feather-plus {
    color: white !important;
    stroke-width: 3 !important;
}

#inputwrapper .form-group {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    margin-bottom: 0 !important;
}

.cust-container {
    text-align: center;
    width: calc(100vw - 15%);
    height: 100%;
    padding: 50px 2%;
}

.addmorefieldbox, .addmorefieldkid, .removeclass {
    width: 38px !important;
    text-align: center !important;
}

.cust-row {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    margin-top: 5px;
    justify-content: center;
}

.cust-row.kid {
    justify-content: end;
    grid-template-columns: 90px 152px 152px 38px 38px;
}